* {
    margin: auto;
    max-width: 800px;
    font-family: "Exo 2"; 
}
main, footer, header, h1, h2, h3 {
    text-align: center;
}

main {
    display: Grid;
    grid-template-columns: auto auto;
    margin: auto;
    max-width: 800px;
    font-family: "Exo 2";    
}

footer {
    background-color: darkgreen;
    color: white;
}

header {
    padding: .3rem;
    align-items: center;
    background-color: darkolivegreen;
    color: white;
}

h1 {
    font-size: x-large;
}

h2 {
    text-wrap: nowrap;
    background-color: darkolivegreen;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.3rem;
    color: white;
}

h3{
    border-bottom: 1px solid darkgray;
    margin: 1rem;
}

img {
    padding: 0.5rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: darkgreen;
    
}

nav a {
    color: white;
}

nav a, .card a {
    text-decoration: none;   
}

nav a:hover {
    color: chocolate;
}

nav a:hover, .card a:hover {
    text-decoration: underline;
}

p {
    margin: 0.2rem;
}

.card {
    border-radius: 1rem;
    border: 1px solid darkgreen;
    margin: 0.2rem;
    padding: 0.2rem;    
}

.card a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}
