header, nav{
   display: flex; 
   justify-content: space-evenly;
   width: 100%;
   text-wrap: nowrap;
   background-color: darkgreen;
}

img {
    width: 100%;
    height: auto;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

main h2 {
    background: none;
    color: #000;
}

#menu {
    position: fixed;
    border: 0;
    background: none;
    color: #000;
    font-size: 1.5rem;
    top: 0.3rem;
    right: 2rem;
}

#menu::before {
    content: "\2630";
    color: #fff;
}

#menu.open::before {
    content: "x";
    color: #fff;
}

.navigation.open a {
    display: block;
}

h1.open {
    display: none;
}

.navigation {
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color: darkgreen;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}